build/
install/
log/
__pycache__/
*.pyc
src/px4-ros2-interface-lib/
src/px4_msgs/
src/voxl-mpa-to-ros2/
src/papers/*.aux
src/papers/*.log
src/papers/*.out

logs/
src/llm_vision_planner/fine_tuning/outputs/*/*
!src/llm_vision_planner/fine_tuning/outputs/*/PLACEHOLDER.txt
